* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    /* подчеркивает каждый элемент карсным */
}

html {
    scroll-behavior: smooth;
    /* для плавной прокрутки */
    font-family: 'Roboto';
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    position: relative;
}

@import 'base/_variables';
@import 'base/_fonts.scss';
@import 'base/_buttons.scss';
@import 'blocks/_01-header';
@import 'blocks/_02-watch';