.main {
  flex: 1 1 auto;
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: #B9E397;
    text-shadow: 1px 0 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 0 -1px 1px #000000;
  }
  .title {
    font-size: 48px;
    margin: 0;
  }
  .subtitle {
    font-size: 30px;
    #result {
      font-weight: bold;
    }
  }
  .gif {
    width: 240px;
  }
  #btn {
    cursor: pointer;
    border: 0;
    padding: 1%;
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    background: #609732;
    &:hover {
      filter: brightness(1.2);
    }
    &:active {
      background: #F9804B;
    }
  }
}