@media(max-width: 999px) {
  .header {
    &_wrapper {
      justify-content: space-between;
    }
    &__logo {
      border: none;
    }
    nav {
      display: none;
    }
    .burger {
      display: flex;
    }
  }
}

@media(max-width: 639px) {
  .header {
    &__logo {
      width: 100px;
    }
  }
}