.main {
  flex: 1 1 auto;
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 8%;
  .questions {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    &__list {
      grid-column: 1/3;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1%;
      &_item {
        border-radius: 5px;
        background-color: #E8F6A4;
        border: 1px solid #697B15;
        color: #697B15;
        padding: 0.5%;
        cursor: default;
        &-active {
          background-color: #697B15;
          color: #E8F6A4;
        }
      }
    }
    &__current {
      grid-column: 1/3;
      display: flex;
      flex-wrap: wrap;
      gap: 3%;
      align-items: center;
      padding: 1%;
      background-color: rgba( 0, 0, 0, 0.1);
      border-radius: 10px;
      &__block {
        display: flex;
        flex-direction: column;
        min-width: 70%;
      }
      &_img {
        width: 200px;
        height: 155px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      &_name {
        color: #3E7213;
        font-size: 28px;
        font-weight: bold;
      }
    }
    &__answer {
      &_item {
        border-radius: 10px;
        background-color: rgba( 0, 0, 0, 0.2);
        border: 1px solid #3E7213;
        cursor: pointer;
        padding: 10px 10px 10px 30px;
        margin-bottom: 1%;
        &:hover {
          background-color: rgba( 0, 0, 0, 0.0);
          // background-color: rgba(62, 114, 19, 0.5);
        }
        &-wrong {
          background-color: lightcoral;
          &:hover {
            background-color: lightcoral;
          }
        }
        &-right {
          background-color: rgba(62, 114, 19, 0.7);
          color: #E8F6A4;
          &:hover {
            background-color: rgba(62, 114, 19, 0.7);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__info {
      display: inline-block;
      border-radius: 10px;
      background-color: rgba( 0, 0, 0, 0.2);
      border: 1px solid #3E7213;
      padding: 5%;
      .help {
        display: none;
      }
      .description {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 3% 3%;
        &_img {
          grid-row: 1/4;
          width: 200px;
          height: 155px;
          img {
            border-radius: 10%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &_dscr {
          grid-column: 1/3;
          display: inline-block;
        }
      }
    }
    &__btn {
      grid-column: 1/3;
      cursor: pointer;
      background-color: rgba( 0, 0, 0, 0.0);
      border: 1px solid #3E7213;
      border-radius: 10px;
      &:hover {
        background-color: rgba( 0, 0, 0, 0.2);
      }
    }
  }
}

.player {
  background-color: rgba( 0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 80% 30%;
  gap: 5%;
  align-items: center;
  padding: 5%;
  padding-right: 25%;
  margin-top: 1%;
  .play {
    min-width: 40px;
    min-height: 40px;
    color: #3E7213;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
  }
  .timeline {
    background: white;
    width: 100%;
    box-shadow: 0 2px 10px 0 #0008;
    height: 8px;
    border-radius: 10px;
    .progress {
      background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 100%, rgb(115, 115, 115) 100%, rgb(115, 115, 115) 100%);
      width: 0%;
      height: 100%;
      transition: 0.25s;
      border-radius: 10px;
    }
    .time {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-top: 2%;
    }
  }
  .volume__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    .volume {
      min-width: 25px;
      height: 25px;
      cursor: pointer;
      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sound-volume {
      appearance: none;
      height: 8px;
      background: #F5F7F6;
      border-radius: 5px;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20%;
        height: 8px;
        background: rgb(0, 188, 140);
        cursor: pointer;
        border-radius: 5px;
        transition: all 1s;
        &:hover {
          background: #E47209;
        }
      }
    }
  }
}

#description_player {
  height: 80%;
  padding-right: 10%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  .volume__container {
    grid-column: 2/3;
    .volume {
      min-width: 20px;
      height: 20px;
    }
    .sound-volume {
      width: 50%;
    }
  }
}