.footer {
  background: #8ABD5F;
  color: #FFFFFF;
  font-size: 20px;
  &_wrapper {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    width: 80px;
    height: 50px;
    display: inline-block;
    &:hover {
      transition: all 1s;
      // transform: rotate(360deg);
      scale: 1.1;
    }
  }
  &_date {
    cursor: default;
    &:hover {
      transition: all 1s;
      color: #3E7213;
    }
  }
}