@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  /* подчеркивает каждый элемент карсным */
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
  font-family: "Roboto";
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
.btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
}
.btn:hover {
  background: #E47209;
}
.btn-active {
  background: #4B9200;
}
.btn-disable {
  background: #767474;
}
.btn-left, .btn-right {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.header {
  background: #000000;
  backdrop-filter: blur(2px);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: #FFFFFF;
}
.header a:hover {
  transition: all 1s;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header_wrapper {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
.header__logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.header__logo_text {
  margin: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
}
.header__logo_bamboo {
  position: absolute;
  left: 11px;
  bottom: 20px;
}
.header nav ul {
  display: flex;
  list-style-type: none;
  gap: 58px;
  line-height: 140%;
}
.header nav ul li:first-child a {
  font-weight: 500;
  pointer-events: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header .designed {
  text-align: right;
  line-height: 140%;
}

.watch {
  height: 700px;
  background: url(../../assets/images/Giant\ Panda.jpg) 0 -80px/100% no-repeat;
  padding-top: 86px;
}
.watch h2 {
  position: relative;
  font-weight: 700;
  font-size: 106.5px;
  text-align: center;
  line-height: 75%;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
}
.watch h2 span {
  color: #FFEE2E;
}
.watch_container {
  width: 500px;
  height: 400px;
  margin-left: 57%;
}
.watch_container .btn {
  margin: 60px auto;
  padding-left: 6px;
}
.watch_container::before {
  content: "";
  width: 465px;
  height: 465px;
  position: absolute;
  z-index: 0;
  border-radius: 100%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  transform: translate(-16%, -16%);
}

.backstage {
  height: 720px;
  padding-top: 140px;
  background: url("../../assets/images/flower_foto1.jpg") 100.2% 6% no-repeat;
  background-size: 13%;
}
.backstage_container {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.4%;
}
.backstage__text {
  font-weight: 400;
  color: #333B41;
}
.backstage__text h2 {
  line-height: 120%;
  font-size: 48px;
}
.backstage__text p {
  padding-top: 36px;
  font-size: 16px;
  line-height: 135%;
}
.backstage__text p:nth-child(2) {
  padding-top: 20px;
}
.backstage__text h3 {
  line-height: 120%;
  padding-top: 54px;
  font-size: 24px;
}

.pets {
  margin-top: 3px;
  position: relative;
  height: 1106px;
}
.pets_wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}
.pets .item {
  width: 366px;
  height: 426px;
  display: grid;
  grid-template-rows: 86% 1fr 2fr;
  grid-template-columns: 80% 1fr;
  border: 1px solid transparent;
  /*Обводка нужной толщины, но прозрачная*/
  background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
  /*Нужный градиент в качестве фона*/
  box-shadow: inset 0px 0px 0px 100vw #fff;
  /*Тень направленная внутрь контейнера, перекрывает ненужный фон и оставляет только рамку*/
  border-radius: 5px;
  /*Скругляет углы*/
}
.pets .item_img {
  grid-column: 1/3;
  transition: 1s;
}
.pets .item_img:hover {
  transform: scale(1.05);
}
.pets .item img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.pets .item_name {
  grid-row: 2/3;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 11px 0 0 15px;
}
.pets .item_place {
  grid-row: 3/4;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  padding: 3px 0 0 15px;
}
.pets .item_food {
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  padding-left: 14px;
}
.pets .btn {
  margin: 0 auto;
  margin-top: 80px;
}
.pets .btn-left, .pets .btn-right {
  font-size: 10px;
  top: 40%;
  margin-top: 0;
}
.pets .btn-left {
  left: -6.9%;
}
.pets .btn-right {
  right: -6.9%;
}
.pets .palm {
  position: absolute;
  bottom: 0px;
  left: -588px;
  z-index: -1;
}
.pets .strelitzia {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}