@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  /* подчеркивает каждый элемент карсным */
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
  font-family: "Roboto";
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}
.header {
  background: #000000;
  backdrop-filter: blur(2px);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: #FFFFFF;
}
.header a:hover {
  transition: all 1s;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header_wrapper {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}
.header__logo {
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.header__logo_text {
  margin: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
}
.header__logo_bamboo {
  position: absolute;
  left: 11px;
  bottom: 20px;
}
.header nav ul {
  display: flex;
  list-style-type: none;
  gap: 58px;
  line-height: 140%;
}
.header nav ul li:first-child a {
  font-weight: 500;
  pointer-events: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header .designed {
  text-align: right;
  line-height: 140%;
}