.watch {
    height: 43.67vw;
    background: url(../../assets/images/Giant\ Panda.jpg) 0 -5vw /100% no-repeat;
    padding-top: 5.4vw;
    h2 {
        position: relative;
        font-weight: 700;
        font-size: 106.5px;
        text-align: center;
        line-height: 75%;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 1;
        span {
            color: #FFEE2E
        }
    }
    &_container {
        margin-left: 57%;
        .btn {
            margin: 0 auto;
            margin-top: 3.8vw;
            padding-left: 6px;
        }
        &::before {
            content: '';
            width: 29vw;
            height: 29vw;
            position: absolute;
            z-index: 0;
            border-radius: 100%;
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            transform: translate(-16%, -16%);
        }
    }
}