.backstage {
    position: relative;
    min-height: 723px;
    // padding-top: 8.8vw;
    padding-top: 140px;
    // background: url('../../assets/images/flower_foto1.jpg') 100.2% 6% no-repeat;
    background-size: 13%;
    overflow: hidden;
    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7.4%;
    }
    &__text {
        font-weight: 400;
        color: #333B41;
        h2 {
            font-weight: 400;
            line-height: 120%;
            font-size: 48px;
            letter-spacing: 1px;
            letter-spacing: 0.1px;
        }
        p {
            // padding-top: 2.1vw;
            padding-top: 34px;
            font-size: 16px;
            line-height: 135%;
            &:nth-child(2) {
                // padding-top: 1.3vw;
                padding-top: 20px;
            }
        }
        h3 {
            line-height: 120%;
            // padding-top: 3.45vw;
            padding-top: 54px;
            font-size: 24px;
        }
    }
    .flower-foto {
        position: absolute;
        z-index: -1;
        right: -97px;
        top: 13px;
    }
}