@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icons/icomoon.eot?wkmnvm');
    src: url('../fonts/icons/icomoon.eot?wkmnvm#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf?wkmnvm') format('truetype'), url('../fonts/icons/icomoon.woff?wkmnvm') format('woff'), url('../fonts/icons/icomoon.svg?wkmnvm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e915";
    color: #fff;
}

.icon-alligator_icon:before {
    content: "\e900";
}

.icon-cheetah_icon .path1:before {
    content: "\e901";
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

.icon-cheetah_icon .path2:before {
    content: "\e902";
    margin-left: -2.2998046875em;
    color: rgb(0, 0, 0);
}

.icon-cheetah_icon .path3:before {
    content: "\e903";
    margin-left: -2.2998046875em;
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

.icon-cheetah_icon .path4:before {
    content: "\e904";
    margin-left: -2.2998046875em;
    color: rgb(0, 0, 0);
}

.icon-cheetah_icon .path5:before {
    content: "\e905";
    margin-left: -2.2998046875em;
    color: rgb(0, 0, 0);
}

.icon-dollar:before {
    content: "\e906";
}

.icon-down:before {
    content: "\e907";
}

.icon-eagle_icon:before {
    content: "\e908";
}

.icon-gorilla_icon:before {
    content: "\e909";
}

.icon-instagram:before {
    content: "\e90a";
    color: #fff;
}

.icon-left:before {
    content: "\e90b";
}

.icon-minus:before {
    content: "\e90c";
}

.icon-panda_icon:before {
    content: "\e90d";
}

.icon-penguin_icon:before {
    content: "\e90e";
}

.icon-plus:before {
    content: "\e90f";
}

.icon-right:before {
    content: "\e910";
}

.icon-sloth_icon:before {
    content: "\e911";
}

.icon-twitter:before {
    content: "\e912";
    color: #fff;
}

.icon-user_icon:before {
    content: "\e913";
}

.icon-youtube:before {
    content: "\e914";
    color: #fff;
}