@media(max-width: 1599px) {
    .container {
        max-width: 940px;
    }
}

@media(max-width: 999px) {
    .container {
        max-width: 600px;
    }
}

@media(max-width: 639px) {
    .container {
        max-width: 300px;
    }
}

@import '01-header-media';
@import '02-watch-media';
@import '03-backstage-media';
@import '04-pets-media';
@import '05-pick-media';
@import '06-testimonials-media';
@import '07-footer-media';