@media(max-width: 1599px) {
    .header {
        &_wrapper {
            nav {
                margin-left: 4%;
                ul {
                    gap: 7.1%;
                }
            }
            .designed {
                padding-top: 2px;
            }
        }
    }
}

@media(max-width: 999px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 10;
        &_wrapper {
            height: 34px;
            grid-template-columns: 8% 6fr 1fr;
        }
        &__logo {
            border: none;
            width: auto;
            height: auto;
            &_text {
                margin: 5% 0 0;
                font-weight: 400;
                font-size: 12.2899px;
                // border: 0.768116px solid #FFFFFF;
            }
            &_bamboo {
                transform: scale(0.6);
                left: 0.4%;
                bottom: 1.4%;
            }
        }
        nav,
        .designed {
            display: none;
        }
        .burger {
            width: 18px;
            height: 10px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            grid-column: 3/4;
            justify-self: end;
            margin-bottom: 3%;
            cursor: pointer;
            &_line {
                width: 100%;
                height: 2px;
                background: #FFFFFF;
                border-radius: 2px;
            }
            &-active {
                z-index: 1;
                position: relative;
                .burger_line {
                    background-color: #333B41;
                    transition: all 1s;
                    &:nth-child(1) {
                        transform: rotate(45deg) translateX(32%);
                    }
                    &:nth-child(2) {
                        background: #FFFFFF;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg) translateX(32%);
                    }
                }
            }
        }
        .burger_menu {
            transform: translateX(100%);
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all .5s;
            .wrapper {
                width: 100%;
                height: 329px;
                padding: 10px;
                background: #FFFFFF;
                .burger__logo {
                    position: relative;
                    display: block;
                    width: 65.6px;
                    height: 41.6px;
                    padding-top: 2px;
                    border: 0.8px solid #FE9013;
                    border-radius: 2px;
                    font-weight: 400;
                    font-size: 15.2116px;
                    line-height: 120%;
                    text-align: center;
                    color: #FE9013;
                    cursor: pointer;
                    img {
                        position: absolute;
                        left: 7px;
                        bottom: 6px;
                    }
                }
                ul {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    gap: 14.5px;
                    a {
                        text-decoration: none;
                        color: #333B41;
                    }
                }
            }
            &-active {
                transform: translateX(0);
            }
        }
    }
}

@media(max-width: 639px) {
    .header {
        &_wrapper {
            grid-template-columns: 16% 6fr 1fr;
            .burger {
                margin-top: 1%;
            }
        }
    }
}