@media(max-width: 1599px) {
    .pick {
        min-height: 875px;
        padding: 2.9vw;
        &_wrapper {
            min-height: 795px;
            padding-top: 3vw;
            .subtitle {
                padding-left: 5vw;
            }
            .text {
                padding: 1vw 8vw 0 5vw;
            }
            .text-bold {
                padding: 2.2vw 10vw 0 5vw;
            }
            h3 {
                padding-top: 4vw;
            }
        }
        &__instruction {
            padding-top: 4vw;
            gap: 13vw;
            &__item_text {
                padding-top: 3vw;
            }
        }
        .btn {
            margin-top: 7vw;
        }
    }
}

@media(max-width: 999px) {
    .pick {
        min-height: 780px;
        &_wrapper {
            min-height: 741px;
            margin-left: -3.3%;
            width: 106.6%;
            padding-top: 1.5%;
            h2 {
                font-size: 42px;
            }
            .subtitle {
                padding-top: 3.3%;
                padding-left: 3.1%;
                font-size: 22px;
            }
            .text {
                padding: 1.4% 3% 0 3%;
                &-bold {
                    padding: 3.2% 3% 0 3%;
                }
            }
            h3 {
                padding-top: 5%;
            }
        }
        &__instruction {
            padding-top: 3%;
            gap: 6.7%;
            margin-right: 2%;
            &__item {
                &:nth-child(-n+2) {
                    &:before {
                        content: url('../../assets/icons/arow-right-green.svg');
                        top: -17px;
                        right: -57px;
                        z-index: 1;
                    }
                }
                &_text {
                    padding-top: 17%;
                }
            }
        }
        .btn {
            margin-top: 6%;
        }
    }
}

@media(max-width: 639px) {
    .pick {
        min-height: 1081px;
        padding-top: 6%;
        &_wrapper {
            min-height: 1043px;
            width: 100%;
            margin-left: 0;
            padding-top: 7.5%;
            h2 {
                font-size: 24px;
            }
            .subtitle {
                font-size: 18px;
                text-align: center;
                margin-left: -4%;
            }
            .text {
                display: none;
            }
            h3 {
                font-size: 24px;
                padding-top: 6%;
            }
        }
        &__instruction {
            flex-direction: column;
            align-items: center;
            // gap: 20px;
            padding-top: 6.6%;
            margin-right: 0;
            &__item {
                height: 242px;
                &:nth-child(-n+2) {
                    &:before {
                        top: 192px;
                        right: -58px;
                        transform: rotate(0.23turn);
                    }
                }
                &:last-child {
                    margin-top: 3%;
                }
                &_text {
                    padding-top: 6%;
                }
            }
        }
    }
}