@media(max-width: 1599px) {
    .testimonials {
        min-height: 842px;
        h3 {
            padding-top: 10.7%;
        }
        &_wrapper {
            // overflow: hidden;
            padding-top: 31px;
            gap: 3.2%;
        }
        &__item {
            width: 293px;
            &__user {
                grid-template-columns: 18% 35% 4% 39%;
            }
            &_feedback {
                margin-right: 3%;
            }
        }
        .slider {
            margin-top: 20px;
            margin-right: 29.8%;
            width: 39.2vw;
        }
        .btn {
            margin-top: 5.4%;
        }
        .leav {
            transform: scale(0.8);
            bottom: -127px;
            right: -170px;
        }
    }
}

@media(max-width: 999px) {
    .testimonials {
        min-height: 668px;
        h3 {
            padding-top: 10%;
            padding-right: 1%;
        }
        &_wrapper {
            height: 394px;
            grid-template-columns: none;
            grid-template-rows: repeat(3, 109px);
            gap: 15px;
            grid-auto-flow: row;
            overflow: hidden;
        }
        &__item {
            width: 98%;
            height: 107px;
            padding: 2.5% 1% 0% 1.9%;
            cursor: pointer;
            &__user {
                grid-template-columns: 8% 15.7% 1.7%;
            }
            &_feedback {
                padding-top: 9px;
                padding-left: 1%;
                height: 51%;
            }
        }
        .slider {
            display: none;
        }
        .btn {
            margin: 5.4% auto;
            padding: 0;
            width: 240px;
        }
        .leav {
            transform: scale(0.5);
            bottom: -171px;
            right: -190px;
        }
    }
}

@media(max-width: 639px) {
    .testimonials {
        min-height: 580px;
        h3 {
            padding-top: 10.6%;
            font-size: 24px;
            line-height: 120%;
        }
        &_wrapper {
            height: 391px;
            padding-top: 7%;
        }
        &__item {
            padding: 3.2% 1% 0% 3.5%;
            &__user {
                grid-template-columns: 15.5% 32.7% 2.7%;
            }
            &_feedback {
                padding-top: 10px;
                padding-left: 2.5%;
            }
        }
        .leav {
            transform: scale(0.26) rotate(0.96turn);
            bottom: -189px;
            right: -201px;
        }
    }
}

.popup {
    &_wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 200vw;
        width: 100vw;
        z-index: 11;
        background-color: rgba(0, 0, 0, 0.5);
        .testimonials__item {
            width: 267px;
            height: 391px;
            margin: 10% auto 0;
            overflow: auto;
            cursor: default;
            &__user {
                grid-template-columns: 20% 35.7% 5.7%;
            }
            &_feedback {
                height: 85%;
                text-overflow: clip;
                overflow: auto;
            }
        }
    }
    &_close {
        // position: fixed;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        cursor: pointer;
        margin: 0 auto;
        transform: translate(892%, -2581%);
        &_line {
            width: 100%;
            height: 2px;
            background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
            display: inline-block;
            border-radius: 2px;
            &:first-child {
                transform: rotate(45deg) translateX(77%);
            }
            &:last-child {
                transform: rotate(-45deg) translateX(81%);
            }
        }
    }
}