.btn {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    // transition: all 1s;
    &-left,
    &-right {
        width: 62px;
        height: 62px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-top: 5px;
    }
    &-rectangular {
        border-radius: 5px;
    }
    &:hover {
        background: #E47209;
    }
    &:active {
        background: #4B9200;
    }
    &-disable {
        background: #767474;
    }
}

.submit {
    width: 129px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    &:active {
        color: #4B9200;
        border-color: #4B9200;
    }
}