$Green: #4B9200;
$Orang: #F9804B;
$Yellow: #FFEE2E;
$Orange_grad: #FED290;
$Pink_gradient: #FEBDAB;
$Rad: #D31414;
$Black_blue: #333B41;
$Gray: #767474;
$Gray_smoky: #ABABAB;
$Light_gray: #F1F3F2;
$Frosted_glass_white: #FDFDFF;