@media(max-width: 1599px) {
    .watch {
        height: 390px;
        background-position: 29% center;
        background-size: 160%;
    }
}

@media(max-width: 999px) {
    .watch {
        height: 369px;
        background-position: 37% 47%;
        background-size: 214%;
    }
}

@media(max-width: 639px) {
    .watch {
        height: 221px;
        background-position: 33% 44%;
        background-size: 237%;
    }
}