@media(max-width: 1599px) {
    .watch {
        height: 390px;
        background-image: url(../../assets/images/giant-panda.jpg);
        background-position: 29% center;
        background-size: 160%;
    }
}