@media(max-width: 1599px) {
    .donate {
        h3 {
            padding-right: 10%;
        }
        p {
            padding-top: 3.2%;
        }
        .pick {
            margin-top: 4.2%;
            h2 {
                padding-top: 2.1%;
                padding-right: 1.5%;
            }
            p {
                margin: 1.2% 0 0 5%;
                padding: 0;
            }
            .illustration {
                margin: 9.2% 0 0 20%;
            }
        }
    }
}