@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  /* подчеркивает каждый элемент карсным */
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #8ABD5F, #B9E397, #8ABD5F, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  backdrop-filter: blur(2px);
  color: #FFFFFF;
  font-size: 20px;
}
.header_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  width: 200px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.5254901961);
  border-radius: 2px;
}
.header__logo_img {
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 5vw;
  justify-content: center;
}
nav ul li:first-child a {
  pointer-events: none;
  font-weight: 700;
  color: #3E7213;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  transition: all 1s;
  color: #3E7213;
}

.burger {
  display: none;
  width: 20px;
  height: 10px;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}
.burger_line {
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 2px;
}
.burger-active {
  z-index: 1;
  position: relative;
}
.burger-active .burger_line {
  background-color: #333B41;
  transition: all 0.7s;
}
.burger-active .burger_line:nth-child(1) {
  transform: rotate(45deg) translateX(28%);
}
.burger-active .burger_line:nth-child(2) {
  background: none;
}
.burger-active .burger_line:nth-child(3) {
  transform: rotate(-45deg) translateX(28%);
}

.burger_menu {
  display: block;
  transform: translateY(-150%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.burger_menu .wrapper {
  width: 100%;
  height: 330px;
  padding: 30px;
  background: linear-gradient(-45deg, #8ABD5F, #B9E397, #8ABD5F, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.burger_menu .wrapper .burger__logo {
  display: block;
  position: relative;
  width: 100px;
  height: 45px;
  border: 0.8px solid #FE9013;
  border-radius: 2px;
  cursor: pointer;
}
.burger_menu .wrapper .burger__logo img {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
.burger_menu .wrapper ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
}
.burger_menu .wrapper ul a {
  text-decoration: none;
  color: #333B41;
}
.burger_menu-active {
  display: block;
  transform: translateY(0);
}

.main {
  flex: 1 1 auto;
  padding: 30px 0;
  text-align: center;
  font-size: 20px;
}
.main .title {
  font-size: 48px;
  color: #224C00;
}
.main .subtitle {
  color: #224C00;
}
.main .rules {
  text-align: left;
  margin: 5%;
  color: #224C00;
}
.main .rules_item {
  margin-top: 1%;
}
.main #btn {
  cursor: pointer;
  border: 0;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  color: #B9E397;
  border-radius: 10px;
  background: #609732;
}
.main #btn:hover {
  filter: brightness(1.2);
}
.main #btn:active {
  background: #F9804B;
}

.footer {
  background: #8ABD5F;
  color: #FFFFFF;
  font-size: 20px;
}
.footer_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 80px;
  height: 50px;
  display: inline-block;
}
.footer__logo:hover {
  transition: all 1s;
  transform: rotate(360deg);
  scale: 1.1;
}
.footer_date {
  cursor: default;
}
.footer_date:hover {
  transition: all 1s;
  color: #3E7213;
}

@media (max-width: 1599px) {
  .container {
    max-width: 940px;
  }
}
@media (max-width: 999px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 639px) {
  .container {
    max-width: 300px;
  }
}
@media (max-width: 999px) {
  .header_wrapper {
    justify-content: space-between;
  }
  .header__logo {
    border: none;
  }
  .header nav {
    display: none;
  }
  .header .burger {
    display: flex;
  }
}
@media (max-width: 999px) {
  .main {
    padding: 0 0 5% 0;
  }
  .main .title {
    margin: 0 0 30px;
  }
}
@media (max-width: 639px) {
  .main .title {
    font-size: 30px;
    margin: 0 0 10px;
  }
  .main .rules {
    font-size: 18px;
  }
}
@media (max-width: 999px) {
  .footer_wrapper {
    justify-content: space-between;
  }
}