@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  /* подчеркивает каждый элемент карсным */
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #8ABD5F, #B9E397, #8ABD5F, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  backdrop-filter: blur(2px);
  color: #FFFFFF;
  font-size: 20px;
}
.header_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  width: 200px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.5254901961);
  border-radius: 2px;
}
.header__logo_img {
  width: 100%;
  height: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 5vw;
  justify-content: center;
}
nav ul li:last-child a {
  pointer-events: none;
  font-weight: 700;
  color: #3E7213;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  transition: all 1s;
  color: #3E7213;
}

.burger {
  display: none;
  width: 20px;
  height: 10px;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}
.burger_line {
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 2px;
}
.burger-active {
  z-index: 1;
  position: relative;
}
.burger-active .burger_line {
  background-color: #333B41;
  transition: all 0.7s;
}
.burger-active .burger_line:nth-child(1) {
  transform: rotate(45deg) translateX(28%);
}
.burger-active .burger_line:nth-child(2) {
  background: none;
}
.burger-active .burger_line:nth-child(3) {
  transform: rotate(-45deg) translateX(28%);
}

.burger_menu {
  display: block;
  transform: translateY(-150%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.burger_menu .wrapper {
  width: 100%;
  height: 330px;
  padding: 30px;
  background: linear-gradient(-45deg, #8ABD5F, #B9E397, #8ABD5F, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.burger_menu .wrapper .burger__logo {
  display: block;
  position: relative;
  width: 100px;
  height: 45px;
  border: 0.8px solid #FE9013;
  border-radius: 2px;
  cursor: pointer;
}
.burger_menu .wrapper .burger__logo img {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
.burger_menu .wrapper ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
}
.burger_menu .wrapper ul a {
  text-decoration: none;
  color: #333B41;
}
.burger_menu-active {
  display: block;
  transform: translateY(0);
}

.main {
  flex: 1 1 auto;
  padding: 30px 0;
  font-size: 20px;
}
.main .title {
  text-align: center;
  font-size: 48px;
  color: #224C00;
}
.main .items__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
}
.main .items__container .item {
  width: 430px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 200px;
  gap: 3% 3%;
}
.main .items__container .item_img {
  grid-row: 1/4;
  width: 200px;
  height: 155px;
}
.main .items__container .item_img img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .items__container .item_dscr {
  grid-column: 1/3;
  display: inline-block;
}

.player {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  align-items: center;
  padding: 5%;
  padding-right: 10%;
  margin-top: 1%;
}
.player .play {
  min-width: 40px;
  min-height: 40px;
  color: #3E7213;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}
.player .timeline {
  background: white;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5333333333);
  height: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.player .timeline .progress {
  background: linear-gradient(to right, rgb(0, 188, 140) 0%, rgb(61, 133, 140) 100%, rgb(115, 115, 115) 100%, rgb(115, 115, 115) 100%);
  width: 0%;
  height: 100%;
  transition: 0.25s;
  border-radius: 10px;
}
.player .timeline .time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 2%;
  cursor: default;
}
.player .volume__container {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.player .volume__container .volume {
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}
.player .volume__container .volume_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player .volume__container .sound-volume {
  appearance: none;
  height: 8px;
  background: #F5F7F6;
  border-radius: 5px;
  width: 50%;
}
.player .volume__container .sound-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 8px;
  background: rgb(0, 188, 140);
  cursor: pointer;
  border-radius: 5px;
  transition: all 1s;
}
.player .volume__container .sound-volume::-webkit-slider-thumb:hover {
  background: #E47209;
}

.footer {
  background: #8ABD5F;
  color: #FFFFFF;
  font-size: 20px;
}
.footer_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 80px;
  height: 50px;
  display: inline-block;
}
.footer__logo:hover {
  transition: all 1s;
  transform: rotate(360deg);
  scale: 1.1;
}
.footer_date {
  cursor: default;
}
.footer_date:hover {
  transition: all 1s;
  color: #3E7213;
}

@media (max-width: 1599px) {
  .container {
    max-width: 940px;
  }
}
@media (max-width: 999px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 639px) {
  .container {
    max-width: 300px;
  }
}
@media (max-width: 999px) {
  .header_wrapper {
    justify-content: space-between;
  }
  .header__logo {
    border: none;
  }
  .header nav {
    display: none;
  }
  .header .burger {
    display: flex;
  }
}
@media (max-width: 1599px) {
  .player {
    padding-right: 10%;
    grid-template-columns: 25% 80%;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 999px) {
  .main {
    padding: 0 0 5% 0;
  }
  .main .title {
    margin: 0 0 30px;
  }
  .player {
    padding-right: 10%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 1fr;
  }
  .player .timeline .time {
    margin-top: 3%;
  }
  .player .volume__container {
    grid-column: 2/3;
  }
}
@media (max-width: 639px) {
  .main {
    padding: 0;
    font-size: 17px;
  }
  .main .items__container .item {
    grid-template-columns: 1fr;
    grid-template-rows: 160px 20px 20px 100px 150px;
    gap: 2%;
  }
  .main .items__container .item_img {
    grid-row: 1/2;
  }
  .main .items__container .item_dscr {
    grid-column: 1/2;
    font-size: 14px;
  }
  .player {
    padding-right: 5%;
    grid-template-columns: 15% 80%;
    padding-bottom: 1%;
  }
}
@media (max-width: 999px) {
  .footer_wrapper {
    justify-content: space-between;
  }
}